<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Promodoro Time Logger</title>
</head>
<body>


{% if session.user %}
    <p>
        Eingeloggt als
        <strong>{{ session.user.preferred_username }}</strong>
        |
        <a href="{{ url_for('auth.logout') }}">Logout</a>
    </p>
{% else %}
    <p>
        <a href="{{ url_for('auth.login') }}">Login</a>
    </p>
{% endif %}

<hr>
{% if session.user%}
<form method="post">
    <input
        type="text"
        name="name"
        placeholder="Projektname"
        required
    />
    <button type="submit">projektanlegen</button>
</form>
{% else %}
<p>Bitte einloggen, um Projekte anzulegen.</p>
{% endif %}


<hr>

<h2> Bisherige Projekte </h2>


{% if projects %}
    <ul>
        {% for project in projects %}
            <li>
                {{ project.name }}
                <small>({{ project.created_at | dt }})</small>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Keine Projekte vorhanden.</p>
{% endif %}

</body>
</html>
