<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>Promodoro Time Logger</title>
</head>
<body>

<h1>test</h1>

<form method="post">
    <input
        type="text"
        name="name"
        placeholder="Projektname"
        required
    />
    <button type="submit">projektanlegen </button>
</form>

<hr>

<h2> Bisherige Projekte </h2>

{% if projects %}
    <ul>
        {% for projects in projects %}
            <li>
                {{ projects[1] }}
                <small>( {{ projects[2] }})</small>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p> Keine projekte vorhanden. </p>
{% endif %}

</body>
</html>
